@{
ViewData["Title"] = "Home Page";
}

<style>
    .custom-title {
        color: rosybrown; 
        font-weight: bold;
    }
</style>

<div class="text-center">
    <h1 class="display-4 custom-title">Welcome to ReadLog</h1> 
    <p class="lead">ReadLog helps you track your reading habits.</p>
    <p class="lead">You can save the books you’ve read, monitor your progress, and manage your reading in an organized way.</p>
</div>
